<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moba Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "moba", media: "all" %>
    <%= javascript_include_tag "moba", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
